{% extends "base.html" %}

{% block body %}
<header>
    <div class="clickable" id="btnSEM">
        <img src="{{ url_for('static', filename='assets/images/sem-logo.svg') }}" alt="Schuleventmanager Logo">
        <h3>Schuleventmanager</h3>
    </div>
    <div class="clickable" id="btnProfile">
        <h3>{{ user.displayName }}</h3>
        <img src="{{ url_for('static', filename='assets/images/logout.svg') }}" alt="Logout Icon">
    </div>
</header>
<main>
    <section class="section-allgemein">
        <div class="section-head">
            <div>
                <img src="{{ url_for('static', filename='assets/images/globe.svg') }}" alt="Globe Icon">
                <h3>Allgemein</h3>
            </div>
            <div>
                <img src="{{ url_for('static', filename='assets/images/gear.svg') }}" alt="Gear Icon">
            </div>
        </div>
        <div class="section-body-allgemein">
            <div>
                <div id="dropdownEventsBtn" class="button-light button-wide clickable">
                    <div id="dropdownEvents" class="dropdown-container">
                        <div class="dropdown-item">
                            <img src="{{ url_for('static', filename='assets/images/ticket.svg') }}" alt="Ticket Icon">
                            <p>Alle Events</p>
                        </div>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='assets/images/ticket.svg') }}" alt="Ticket Icon">
                        <p id="dropdownSelectedItem">Alle Events</p>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='assets/images/chevron.svg') }}" alt="Chevron Icon">
                    </div>
                </div>
            </div>
            <div>
                <div id="toggleMode" class="button-light clickable" data-current-mode="teilnehmen">
                    <div>
                        <img src="{{ url_for('static', filename='assets/images/luggage.svg') }}" alt="Luggage Icon">
                        <p>Teilnehmen</p>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='assets/images/toggle-left.svg') }}" alt="Toggle Left Icon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <article>
        <section class="section-benutzerinteraktionen">
            <div class="section-head">
                <div>
                    <img src="{{ url_for('static', filename='assets/images/presentation.svg') }}" alt="Presentation Icon">
                    <h3>Benutzerinteraktionen</h3>
                </div>
                <div>
                    <img src="{{ url_for('static', filename='assets/images/gear.svg') }}" alt="Gear Icon">
                </div>
            </div>
            <div class="section-body-benutzerinteraktionen">
                <div>
                    <div class="diagram">
                        <div class="diagram-outer-circle">
                            <div id="stats-inpreq-graph" class="diagram-inner-circle eingabe-pflicht">
                                <p id="input-required-ratio">N/A</p>
                            </div>
                        </div>
                    </div>
                    <div class="beschriftung">
                        <div>
                            <h2 id="inpreq-input-fields">N/A</h2>
                            <p>Eingabefelder</p>
                        </div>
                        <div>
                            <h2 id="inpreq-required-fields">N/A</h2>
                            <p>Pflichtfelder</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="diagram">
                        <div class="diagram-outer-circle">
                            <div id="stats-inprem-graph" class="diagram-inner-circle eingabe-ausstehend">
                                <p id="input-remaining-ratio">N/A</p>
                            </div>
                        </div>
                    </div>
                    <div class="beschriftung">
                        <div>
                            <h2 id="inprem-input-fields">N/A</h2>
                            <p>Eingabefelder</p>
                        </div>
                        <div>
                            <h2 id="inprem-input-remaining">N/A</h2>
                            <p>Ausstehend</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="diagram">
                        <div class="diagram-outer-circle">
                            <div id="stats-reqrem-graph" class="diagram-inner-circle pflicht-ausstehend">
                                <p id="required-remaining-ratio">N/A</p>
                            </div>
                        </div>
                    </div>
                    <div class="beschriftung">
                        <div>
                            <h2 id="reqrem-required-fields">N/A</h2>
                            <p>Pflichtfelder</p>
                        </div>
                        <div>
                            <h1 id="reqrem-required-remaining">N/A</h1>
                            <p>Ausstehend</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-interaction-tree">
            <div class="section-head">
                <div class="interaction-tree-head-1">
                    <h1 id="reqrem-interaction-tree">N/A</h1>
                    <p>ausstehend</p>
                </div>
                <div class="interaction-tree-head-2">
                    <img src="{{ url_for('static', filename='assets/images/gear.svg') }}" alt="Gear Icon">
                </div>
            </div>
            <div class="section-body-interaction-tree">
                <img id="interactionTreeImg" src="{{ url_for('static', filename='assets/images/interaction-tree.svg') }}" alt="Interaction Tree Image">
            </div>
        </section>
    </article>
    <!--
    <section class="section-timeline">
        <div class="section-head">
            <div>
                <img src="{{ url_for('static', filename='assets/images/calendar.svg') }}" alt="Calendar Icon">
                <h3>Timeline</h3>
            </div>
            <div>
                <img src="{{ url_for('static', filename='assets/images/arrow-expand.svg') }}" alt="Arrow Expand Icon">
            </div>
        </div>
        <div class="section-body-timeline">
            <div class="headline-grid">
                <p class="text-bold">Montag</p>
                <p class="text-bold">Dienstag</p>
                <p class="text-bold">Mittwoch</p>
                <p class="text-bold">Donnerstag</p>

                <p>02.03</p>
                <p>06:00</p>
                <p>12:00</p>
                <p>18:00</p>

                <p>03.03</p>
                <p>06:00</p>
                <p>12:00</p>
                <p>18:00</p>
                
                <p>04.03</p>
                <p>06:00</p>
                <p>12:00</p>
                <p>18:00</p>
                
                <p>05.03</p>
                <p>06:00</p>
                <p>12:00</p>
                <p>18:00</p>
            </div>
            <div class="ressource-grid">
                <div id="line-1" class="line"></div>
                <div id="line-2" class="line"></div>
                <div id="line-3" class="line"></div>
                <div id="line-4" class="line"></div>

                <div id="ressource-1" class="timeline-ressource">
                    <img src="{{ url_for('static', filename='assets/images/ressource-timeline.svg') }}" alt="Ressource Icon">
                </div>
                <div id="ressource-2" class="timeline-ressource">
                    <img src="{{ url_for('static', filename='assets/images/ressource-timeline.svg') }}" alt="Ressource Icon">
                </div>
                <div id="ressource-3" class="timeline-ressource">
                    <img src="{{ url_for('static', filename='assets/images/ressource-timeline.svg') }}" alt="Ressource Icon">
                </div>
                <div id="ressource-4" class="timeline-ressource">
                    <img src="{{ url_for('static', filename='assets/images/ressource-timeline.svg') }}" alt="Ressource Icon">
                </div>
            </div>
            <div class="ressource-list">
                <div>
                    <p class="text-bold">Ressourcen</p>
                    <p>Bezeichnung</p>
                </div>
                <div>
                    <p>Erster Halbtag</p>
                    <p>09:00 - 13:30</p>
                </div>
                <div>
                    <p>HTL Disco</p>
                    <p>22:00 - 02:00</p>
                </div>
                <div>
                    <p>Ersatzprogramm Unwetter</p>
                    <p>06:00 - 18:00</p>
                </div>
                <div>
                    <p>Abendprogramm</p>
                    <p>19:00 - 21:00</p>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <img class="clickable" src="{{ url_for('static', filename='assets/images/arrow-left.svg') }}" alt="Arrow Left Icon">
            <img class="clickable" src="{{ url_for('static', filename='assets/images/arrow-right.svg') }}" alt="Arrow Right Icon">    
        </div>
    </section>
    -->
    <section id="section-event" class="section-event section-event-teilnehmen">
        <div class="section-head">
            <div>
                <img src="{{ url_for('static', filename='assets/images/ticket-event.svg') }}" alt="Event Icon">
                <h3 id="treeViewEventName">Event wählen</h3>
            </div>
            <div style="display:flex;gap:var(--space);align-items:center;">
                <img id="btnScrollLeft" class="clickable" src="{{ url_for('static', filename='assets/images/arrow-left.svg') }}" alt="Arrow Left Icon">
                <img id="btnScrollRight" class="clickable" src="{{ url_for('static', filename='assets/images/arrow-right.svg') }}" alt="Arrow Right Icon">
            </div>
        </div>
        <div id="section-body-event" class="section-body-event">
            <div class="headline-grid" id="headlineGrid">
                <p class="text-bold">Ressourcen</p>
                <p id="attribute-headline" class="text-bold">Attribute</p>
            </div>
            <div class="ressource-grid">
                <!-- Participant tree view rendered here by JS -->
            </div>
        </div>
    </section>
</main>
<aside>
    <div id="overlayContainer" class="overlay-container">
        <!-- Overlay: Profile -->
        <div id="overlayProfile" class="overlay">
            <div class="overlay-headline">
                <div>
                    <img src="{{ url_for('static', filename='assets/images/overlay-logo.svg') }}" alt="Overlay Icon">
                    <h3>Profil</h3>
                </div>
                <div class="clickable btnCloseOverlay">
                    <img class="clickable" id="closeOverlay" src="{{ url_for('static', filename='assets/images/overlay-close.svg') }}" alt="Close Icon">
                </div>
            </div>
            <div class="profile-overlay-body">
                <div>
                    <p>Name</p>
                    <h2 class="break-line">{{ user.displayName }}</h2>
                </div>
                <div>
                    <p>Email</p>
                    <h2 class="text-mail break-line">{{ user.mail }}</h2>
                </div>
                <div id="btnLogout" class="button-dark clickable">
                    <p>Abmelden</p>
                    <img src="{{ url_for('static', filename='assets/images/logout-button.svg') }}" alt="Logout Icon">
                </div>
            </div>
        </div>
        <img id="overlay-deer" src="{{ url_for('static', filename='assets/images/overlay-deer.svg') }}" alt="Deer Image">
    </div>
    <!-- Message Box -->
     <div id="message-box">
        <img src="{{ url_for('static', filename='assets/images/alert-triangle.svg') }}" alt="Message Box Icon">
        <p id="message-box-text" class="text-bold">Message Box Test-Text</p>
     </div>
</aside>
<footer>
</footer>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/teilnehmen.js') }}"></script>
{% endblock %}